* {
    margin: 0;
    padding: 0;
    box-sizing: border-box-;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    background: rgba(83, 109, 254, 0.1);
    width: 250px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.result-box {
    height: 30px;
    background-color: white;
    box-shadow: rgba(83, 109, 254, 0.2) 0 2px 4px, rgba(83, 109, 254, 0.15) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.result-box span {
    padding: 0 1em;
}

.button-box {
    width: 100%;
    display: flex;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
}


.btn {
    background: white;
    width: 70px;
    cursor: pointer;
    appearance: none;
    border-radius: 8px;
    box-shadow: rgba(83, 109, 254, 0.2) 0 2px 4px, rgba(83, 109, 254, 0.15) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    cursor: pointer;
    font-family: "JetBrains Mono", monospace;
    overflow: hidden;
    transition: box-shadow 0.15s, transform 0.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 20px;
    padding: 5px 0;
}


.btn:focus {
    outline: none;
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(83, 109, 254, 0.4) 0 2px 4px, rgba(83, 109, 254, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.btn:hover {
    box-shadow: rgba(83, 109, 254, 0.3) 0 4px 8px, rgba(83, 109, 254, 0.2) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.btn:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}

.equal {
    width: auto;
    grid-column: 2/4;
}