/* Main adjustment */
main {
    height: 105vh;
}

header img {
    width: 40vw;
}

#main-content h1 {
    font-size: 3rem;
}

#main-content p {
    font-size: 1.25rem;
}

/* Main adjustment */
/* Project section adjustment */

#projects {
    padding: 3rem 0;
}

#projects h1 {
    font-size: 2rem;
}

.card-container {
    padding: 1em;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

#load-btn {
    height: 35px;
}

/* Project section adjustment */
/* Card  adjustment */

.cards {
    width: 300px;
    max-width: 300px;
    min-width: 300px;
    height: 180px;
}

.card-content h3 {
    font-size: 6.5vw;
}

.card-content p {
    font-size: 3vw;
}

/* Card  adjustment */


.pop-up-btn {
    margin: 1em;
}

@media (max-width:320px) {
    main {
        height: 125vh;
    }
}