:root {
    --main-color: #993D45;
}

@font-face {
    font-family: Piximisa;
    src: url('../fonts/Piximisa.ttf');
}

@font-face {
    font-family: baby_doll;
    src: url('../fonts/Baby\ Doll.otf');
}

@font-face {
    font-family: coffee_soda;
    src: url('../fonts/Coffee\ Soda.otf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    background: #fff4f4;
    /* background: url('../images/hero-banner.png') repeat-y center center/cover; */
    font-family: Kanit;
}

/* preloader  */

#preloader {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 33333;
}

.spinner {
    position: absolute;
    width: 9px;
    height: 9px;
}

.spinner div {
    position: absolute;
    width: 50%;
    height: 150%;
    background: #000000;
    transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1%));
    animation: spinner-fzua35 1s calc(var(--delay) * 1s) infinite ease;
}

.spinner div:nth-child(1) {
    --delay: 0.1;
    --rotation: 36;
    --translation: 150;
}

.spinner div:nth-child(2) {
    --delay: 0.2;
    --rotation: 72;
    --translation: 150;
}

.spinner div:nth-child(3) {
    --delay: 0.3;
    --rotation: 108;
    --translation: 150;
}

.spinner div:nth-child(4) {
    --delay: 0.4;
    --rotation: 144;
    --translation: 150;
}

.spinner div:nth-child(5) {
    --delay: 0.5;
    --rotation: 180;
    --translation: 150;
}

.spinner div:nth-child(6) {
    --delay: 0.6;
    --rotation: 216;
    --translation: 150;
}

.spinner div:nth-child(7) {
    --delay: 0.7;
    --rotation: 252;
    --translation: 150;
}

.spinner div:nth-child(8) {
    --delay: 0.8;
    --rotation: 288;
    --translation: 150;
}

.spinner div:nth-child(9) {
    --delay: 0.9;
    --rotation: 324;
    --translation: 150;
}

.spinner div:nth-child(10) {
    --delay: 1;
    --rotation: 360;
    --translation: 150;
}

@keyframes spinner-fzua35 {

    0%,
    10%,
    20%,
    30%,
    50%,
    60%,
    70%,
    80%,
    90%,
    100% {
        transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1%));
    }

    50% {
        transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1.5%));
    }
}

/* preloader  */

main {
    width: 100%;
    min-height: 100vh;
    height: 100vh;
}

.main-bg {
    position: absolute;
    z-index: -1;
    opacity: 0.4;
}

header {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    width: 15vw;
    height: auto;
}

/* Main content styeling  */
#main-content {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10vh;
    position: relative;
    overflow: hidden;
}

#main-content h1 {
    font-size: 4rem;
    text-align: center;
}

#main-content p {
    font-size: 1.75rem;
    text-align: center;
    margin: 0 2em;
}

/* start button styling */

/* From Uiverse.io by gharsh11032000 */
.animated-button {
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 16px 36px;
    border: 4px solid;
    border-color: transparent;
    font-size: 16px;
    background-color: inherit;
    border-radius: 100px;
    font-weight: 600;
    color: var(--main-color);
    box-shadow: 0 0 0 2px var(--main-color);
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button svg {
    position: absolute;
    width: 24px;
    fill: var(--main-color);
    z-index: 9;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .arr-1 {
    right: 16px;
}

.animated-button .arr-2 {
    left: -25%;
}

.animated-button .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: var(--main-color);
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text {
    position: relative;
    z-index: 1;
    transform: translateX(-12px);
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button:hover {
    box-shadow: 0 0 0 12px transparent;
    color: white;
    border-radius: 12px;
}

.animated-button:hover .arr-1 {
    right: -25%;
}

.animated-button:hover .arr-2 {
    left: 16px;
}

.animated-button:hover .text {
    transform: translateX(12px);
}

.animated-button:hover svg {
    fill: white;
}

.animated-button:active {
    scale: 0.95;
    box-shadow: 0 0 0 4px var(--main-color);
}

.animated-button:hover .circle {
    width: 220px;
    height: 220px;
    opacity: 1;
}

/* start button styling */

/* Main content styeling  */

/* Grid section styling */
#projects {
    width: 100%;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
}

#projects h1 {
    font-family: baby_doll;
    color: var(--main-color);
    text-align: center;
    margin-bottom: 3vw;
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
    word-spacing: 3vw;

}

/* load more button styling  */
#load-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    position: relative;
    padding: 0 20px;
    font-size: 18px;
    text-transform: uppercase;
    border: 0;
    box-shadow: #993D45 0px 7px 0px 0px;
    background-color: #ff5a69;
    border-radius: 12px;
    overflow: hidden;
    transition: 31ms cubic-bezier(.5, .7, .4, 1);
    margin-top: 2em;
    cursor: pointer;
}

#load-btn:before {
    content: attr(alt);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset: 0;
    font-size: 15px;
    font-weight: bold;
    color: white;
    letter-spacing: 4px;
    opacity: 1;
}

#load-btn:active {
    box-shadow: none;
    transform: translateY(7px);
    transition: 35ms cubic-bezier(.5, .7, .4, 1);
}

#load-btn:hover:before {
    transition: all .0s;
    transform: translateY(100%);
    opacity: 0;
}

#load-btn i {
    color: white;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 4px;
    font-style: normal;
    transition: all 2s ease;
    transform: translateY(-20px);
    opacity: 0;
}

#load-btn:hover i {
    transition: all .2s ease;
    transform: translateY(0px);
    opacity: 1;
}

#load-btn:hover i:nth-child(1) {
    transition-delay: 0.045s;
}

#load-btn:hover i:nth-child(2) {
    transition-delay: calc(0.045s * 3);
}

#load-btn:hover i:nth-child(3) {
    transition-delay: calc(0.045s * 4);
}

#load-btn:hover i:nth-child(4) {
    transition-delay: calc(0.045s * 5);
}

#load-btn:hover i:nth-child(6) {
    transition-delay: calc(0.045s * 6);
}

#load-btn:hover i:nth-child(7) {
    transition-delay: calc(0.045s * 7);
}

#load-btn:hover i:nth-child(8) {
    transition-delay: calc(0.045s * 8);
}

#load-btn:hover i:nth-child(9) {
    transition-delay: calc(0.045s * 9);
}

#load-btn:hover i:nth-child(10) {
    transition-delay: calc(0.045s * 10);
}

/* load more button styling  */

.card-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
    gap: 2em;
    place-items: center;
}

/* Card styling */
.cards {
    width: 375px;
    height: 225px;
    border-radius: 10px;
    transition: all 0.5s;
    overflow: hidden;
    position: relative;
    border: 1px solid #ff5a69;
    cursor: pointer;
}

.card-img {
    height: 100%;
    width: 100%;
}

.card-img img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 5/3;
}

.card-content {
    width: 100%;
    height: 100%;
    max-height: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 20px;
    background-color: #ff5a69;
    color: white;
    transition: all 0.5s;
}


.card-content h3 {
    font-size: 2.5vw;
    font-weight: lighter;
    font-family: Piximisa;
}

.card-content p {
    font-size: 1vw;
    font-family: cursive;
}


.view-btn {
    width: 6.5em;
    height: 2.3em;
    margin: 0.5em;
    background: var(--main-color);
    color: white;
    border: none;
    border-radius: 0.625em;
    font-family: ms sans serif;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
    position: absolute;
    z-index: 1;
    overflow: hidden;
    bottom: 20px;
    right: 20px;
}

.view-btn:hover {
    color: var(--main-color);
}

.view-btn:after {
    content: "";
    background: white;
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
}

.view-btn:hover:after {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

/* Card hovering effects  */

.cards:hover {
    box-shadow: 10px 10px 0 #c93541;
    transform: translate(-10px, -10px);
}

.cards:hover .card-content {
    top: 0;
}

/* Card hovering effects  */
/* Card styling */

/* Grid section styling */

/* Pop up styling  */
.pop-up {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100%;
    height: 100%;
    width: 90%;
    z-index: 33;
    background-color: rgba(0, 0, 0, 0.285);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 0em;
    display: none;
}

#pop-up-close {
    position: absolute;
    top: 2%;
    right: 2%;
    font-size: 2rem;
    color: var(--main-color);
    transition: all 0.5s;
    cursor: pointer;
}

.pop-up-content {
    width: 90%;
    min-height: 100%;
    height: 100%;
    background-color: white;
    padding: 2em;
    position: relative;
}

.pop-up-img {
    width: 70%;
    height: auto;
    border: 1px solid var(--main-color);
    margin: auto;
}

.pop-up-img img {
    width: 100%;
    height: auto;
}

.pop-up-heading {
    font-family: Piximisa;
    font-size: 2rem;
    letter-spacing: 3px;
    margin-top: 1em;
    color: var(--main-color);
}

.pop-up-para {
    font-size: 1.25rem;
    font-family: cursive;
    color: var(--main-color);
    line-height: 1.5rem;
    margin-bottom: 1em;
}

/* pop up buttons */
.pop-up-btn {
    padding: 0.7em 1.3em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 4px;
    color: transparent;
    border: 3px solid #993D45;
    font-size: 14px;
    position: relative;
    font-family: inherit;
    background: transparent;
    cursor: pointer;
}

.pop-up-btn::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    color: #993D45;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}

.pop-up-btn:hover::before {
    left: 100%;
    transform: scale(0) rotateY(360deg);
    opacity: 0;
}

.pop-up-btn::after {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #993D45;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    transform: scale(0) rotateY(0deg);
    opacity: 0;
}

.pop-up-btn:hover::after {
    left: 0;
    transform: scale(1) rotateY(360deg);
    opacity: 1;
}

#code-btn {
    margin-left: 1em;
}

#code-btn::before,
#code-btn::after {
    content: 'code';
}

#live-demo-btn::before,
#live-demo-btn::after {
    content: 'live demo';
}

/* pop up buttons */

/* Pop up styling  */

/* Utility classes */
.highlight {
    font-family: coffee_soda;
    color: var(--main-color);
}

.btn {
    padding: 5px 10px;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    word-spacing: 5px;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.background-icon {
    position: absolute;
    opacity: 0.3;
    width: 50px;
    height: 50px;
    z-index: 0;
}

/* Utility classes */