* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    flex-direction: column;
    background-color: #fef8e4;
    color: #333333;
}

main h3 {
    font-family: ms sans serif;
    margin-bottom: 10px;
    color: #D85D5D;
}

.node_container {
    padding: 20px;
    display: flex;
    font-family: arial;
    max-width: 80vw;
    overflow: auto;
    border: 1px solid #FF6F61;
    background-color: #ffe5e5;
    box-shadow: 0 2px 10px #FF6F61;

}

.node {
    height: 50px;
    width: 100px;
    border-radius: 10px;
    display: inline-block;
    flex-shrink: 0;
    border: 1px solid #D85D5D;
    color: #D85D5D;
    margin-right: 50px;
    position: relative;
    background-color: #ffd5d2;
}

.node_img {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-10px, -50%);
    width: 60px;
}

.node_value {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.head {
    background-color: #ff704d;
    color: white;
}

#null_node {
    border: 1px solid #ff5722;
    color: #D85D5D;
    background-color: #ffefef;
    margin: 0;
}


.msg {
    display: inline-block;
    position: absolute;
    top: 5%;
    left: 5%;
}

.msg p {
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    font-family: ms sans serif;
    letter-spacing: 1px;
    font-size: 10px;
}

.error {
    background-color: #ff4f4f;
}

.success {
    background-color: #81c784;
}

#help {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFEBE0;
    border: 1px solid #FF6F61;
    padding: 50px 60px;
    font-family: arial;
    z-index: 10;
    width: 80vw;
}

#help p {
    margin-bottom: 10px;
}

#help ul li {
    padding: 10px 0;
}

#close {
    position: absolute;
    border: none;
    background-color: #fff;
    display: inline-block;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

#help_btn {
    position: absolute;
    top: 2%;
    right: 5%;
    padding: 10px 20px;
    background-color: #ff6f47;
    border-radius: 10px;
    transition: all 0.5s;
    border: 1px solid #D85D5D;
    cursor: pointer;
    color: white;

}

#help_btn:hover {
    background-color: #ff4b33;
}

.links {
    font-family: ms sans serif;
    font-size: 12px;
    padding: 5px 0;
}

#admin_msg {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-family: sans-serif;
    font-size: 10px;
    color: #D85D5D;
}

b {
    background-color: #FFB3B3;
}

.traverse {
    background-color: #D85D5D;
    transition: all 0.3s;

}

/* ---------- input section -------------- */
#input-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#func-input {
    padding: 5px 20px;
    outline: none;
    border-radius: 200px;
    border: none;
    background-color: #FFD6D0;
    box-shadow: 0 2px 10px #FF6F61;
    height: 50px;
    width: 300px;
}

#run {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 10px #FF6F61;
    background-color: #ffaea7;
    outline: none;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 15px;
}

#run img {
    width: 100%;
}

/* ---------- input section -------------- */
/* ---------- installation panel-------------- */
#installation_panel {
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    padding: 5px;
    font-size: 12px;
    background-color: rgb(254, 201, 209);
    align-items: center;
    justify-content: center;

}

#installButton {
    border: none;
    background-color: #FF6F61;
    color: white;
    padding: 5px 10px;

}

/* ---------- installation panel-------------- */

@media (max-width:425px) {
    body {
        font-size: 12px;
    }

    #help {
        max-width: 100%;
        width: 100vw;
        height: auto;
        padding: 25px;
    }

    #help_btn {
        padding: 5px 10px
    }


    .node {
        height: 30px;
        width: 45px;
        border-radius: 6px;
        margin-right: 20px;
    }

    .node_img {
        width: 25px;
        transform: translate(-5px, -50%);
    }

    #input-section {
        gap: 5px;
    }

    #func-input {
        height: 30px;
        width: 200px;
    }

    #run {
        height: 30px;
        width: 30px;
        padding: 8px;
    }

    .msg {
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
    }

}